@tailwind base;
/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

ul {
    list-style: disc;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

ul ul {
    list-style: circle;
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

ul ul ul {
    list-style: square;
    list-style-type: square;
    margin: 0;
    padding: 0;
}

ul ul ul ul{
    list-style: circle;
    list-style-type: circle;
    margin: 0;
    padding: 0;
}



/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
